/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body{
    background-color: #6990f2;
}

*{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* === Colors === */
    --body-color: #E4E9F7;
    --nav-element-hover-color: #6bff8b;
    --primary-color: #6bff8b;
    --nav-element-color: black;
    --nav-logo-color: #6bff8b;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* === Transition ===*/
    --tran-02: all 0.2;
    --tran-03: all 0.3;
    --tran-04: all 0.4;
    --tran-05: all 0.5;
}

main{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10vh;
    padding-bottom: 10vh;
    flex-direction: row;
    /* background-color: black; */
}

.side-selector-documents{
    display: flex;
    flex-direction: column;
    /* border-radius: 10px;
    border: solid 2px #6bff8b; */
}

.wrapper{
    width: 700px;
    padding: 20px;
    background-color: #F4F4F4;
    border-radius: 10px;
}

.wrapper header{
    color:#2EA3F2;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.wrapper form{
    height:125px;
    display: flex;
    margin-top: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #2EA3F2;
}

form i, p{
    color: #2EA3F2;
}

form i{
    font-size: 50px;
}

form p{
    font-size:16px;
    margin-top:15px;
}

section .row{
    background:#e9f0ff;
    margin-bottom: 10px;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .row i{
    font-size: 30px;
    color: #2EA3F2;
}

section .details span{
    font-size:14px;
}

.progress-area .row .content{
    width: 100%;
    margin-left: 15px;
}

.progress-area .details{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
}

.progress-area .progress-bar{
    height: 6px;
    width: 70%;
    background: #fff;
    margin-bottom: 4px;
    border-radius: 30px;
}

.progress-bar .progress{
    height: 100%;
    width: 100%;
    background: #2EA3F2;
    border-radius: inherit;
}

.uploaded-area{
    max-height: 150px;
    overflow-y: scroll;
}

.uploaded-area::-webkit-scrollbar{
    width: 0px;
}

.uploaded-area .row .content{
    display: flex;
    align-items: center;
}

.uploaded-area .row .details{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}

.uploaded-area .details .size{
    font-size: 11px;
    color: #404040;
}

.uploaded-area .fa-check{
    color: #2EA3F2;
    font-size: 16px;
}


/* Positionnement des wrappers */

.Doc1, .Doc2, .Doc3{
    display: block;
}

.Doc2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-title-documents{
    display: flex;
}

.element-title-document{
    font-weight: bold;
    color: black;
}

.fa-cloud-arrow-up:hover{
    transform: scale(1.1);
    transition: .2s;
    color: #1B870B;
}

.fa-cloud-arrow-up{
    transition: .2s;
}


/* Document Selectionné */

.side-selected-document-infos{
    display: flex;
    width: 700px;
    height: 695px;
    background-color: #F4F4F4;
    border-radius: 10px;
}