/*
Responsive HTML Table With Pure CSS - Web Design/UI Design

Code written by:
👨🏻‍⚕️ Coding Design (Jeet Saru)

> You can do whatever you want with the code. However if you love my content, you can **SUBSCRIBED** my YouTube Channel.

🌎link: www.youtube.com/codingdesign 
*/

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10vh;
    padding-bottom: 10vh;
    flex-direction: row;
    /* background-color: black; */
}


.doc_selectionne{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 600px;
    background-color: #F4F4F4;
    border-radius: 10px;
}

.Vue_Doc{
    width: 400px;
    height: 500px;
    background-size: cover;
    background-image: url("img_LiassesFiscales_exemple.png");
    border: solid rgb(0, 0, 0);
}

.doc_selectionne .titre{
    padding-top: 15px;
    padding-bottom: 25px;
}

.Documents_client_table{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
    border-radius: 10px;
    width: 900px;
    height: 430px;
}

.table__header {
    background-color: #fff4;
    padding-top: 15px;
    padding-bottom: 25px;
    justify-content: center;
    display: flex;
}

.table__body {
    background-color: #fffb;
    border-radius: 3px;
    display: flex;
    width: 800px;
    height: 300px;
}

table {
    width: 100%;
    border: solid #202020;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.envoyes {
    background-color: #2EA3F2;
    color: #115288;
}

.status.en-cours {
    background-color: #E6511E;
    color: #722911;
}

.status.pending {
    background-color: #ebc474;
}

tr td i.fa-eye{
    padding: 20px;
    color: #1B870B;
}