/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body{
    background-color: #ffffff;
}

*{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* === Colors === */
    --body-color: #E4E9F7;
    --nav-element-hover-color: #E7511F;
    --primary-color: #6bff8b;
    --nav-element-color: black;
    --nav-logo-color: #2EA3F2;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* === Transition ===*/
    --tran-02: all 0.2;
    --tran-03: all 0.3;
    --tran-04: all 0.4;
    --tran-05: all 0.5;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 45px;
    padding-left: 5%;
    padding-right: 5%;
}

h1 span{
    color: var(--nav-logo-color);
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: var(--nav-element-color);
    text-decoration: none;
}

nav ul li a.active{
    color: var(--nav-element-hover-color);
}

nav ul li a:hover{
    color: var(--nav-element-hover-color);
    transition: .3s;
}

nav ul li a i{
    padding-right: 2px;
}

button{
    border: none;
    background: var(--nav-element-hover-color);
    padding: 10px 15px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
}

.separate-nav-main{
    border-top: 2px solid #ededed;
    margin: 0 20px;
}