.ResultIA_container {
    background-color: #ffffff;
    width: 100%;
    max-width: 34.37em;
    position: relative;
    margin: 2.12em auto;
    padding: 1.7em;
    border-radius: 1em;
    box-shadow: 0 1.25em 2.18em rgb(1, 28, 71, 0.3);
    transition: .2s;
  }

  .ResultIA_container:hover {
    transform: scale(1.03);
    transition: .2s;
  }


.first_result .buttons {
    display: flex;
    justify-content: center;
    gap: 2em;
  }
  
.first_result button {
    display: flex;
    align-items: center;
    gap: 0.5em;
    text-transform: uppercase;
    padding: 0.875em;
    border-radius: 8px;
    border: 1px solid transparent;
    outline: 1px solid transparent;
    width: auto;
    padding-inline: 2em;
    box-shadow: inset 0 0 0 1px transparent;
    transition: all 0.3s ease;
    margin-top: 20px;
    margin-bottom: 20px;
}

.first_result button:hover {
    opacity: 0.8;
    box-shadow: inset 0 0 0 1px rgb(75, 75, 75);
}

.first_result button[type="submit"] {
    background: #2f2d46;
    color: white;
    font-weight: 600;
}